.sidebarButtons {
  border-bottom: 2px solid rgba(211, 211, 211, 0.15);
  width: 208px;
}
.suggestedAccounts {
  margin-top: 5px;
  padding: 4px 10px 10px 12px;
  border-bottom: 2px solid rgba(167, 167, 167, 0.15);
  border-top: 2px solid rgba(167, 167, 167, 0.15);
  width: 208px;
}
.yourTopAccounts {
  margin-top: 15px;
  padding: 4px 0 10px 12px;
  border-bottom: 2px solid rgba(211, 211, 211, 0.15);
  width: 208px;
}
.siderDiv {  
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow-y: scroll;
  left: 100px;
  top: 100px;
  bottom: 0;
  margin-left: 100px;
  padding-top: 26px;
  margin-right: 20px;
}
/*sidbar scroll*/
::-webkit-scrollbar {
  width: 7px;
  /* height: 150px; */
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: rgba(211, 211, 211, 0.15);
}
