.webLoginWrapper {
    text-align: center;
}

.loginModalHeader {
    width        : 100%;
    height       : 80px;
    text-align   : end;
    padding-top  : 10px;
    padding-right: 10px;
}

.loginH1 {
    margin: 0 auto;
    width : 35%;
}

.loginH1>h1 {
    font-size  : 33px;
    font-weight: bolder;
}

.loginH1>p {
    color: grey;
}

.loginModalHeader>svg {
    width : 24px;
    height: 24px;
}

.loginModalHeader>svg:hover {
    cursor: pointer;
}

.signUp {
    margin-top: 50px;
}

.signUp>a {
    color: red;
}

.loginPageRooter {
    /* display: none; */
    /* position: absolute;     */
    /* right: 0; 
    left: 0;
    margin: auto;     */
    background-color: white;
    /* z-index      : 2; */
    width           : 500px;
    height          : 600px;
    border          : 1px solid grey;
    text-align      : center;
    width           : 810px;
    height          : 700px;
    border-radius   : 10px;
}

.choicesOverflow {
    /* border: 1px solid black; */
    margin: 0 auto;

    margin-top     : 32px;
    align-self     : center;
    align-items    : center;
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    width          : 315px;
    height         : 200px;
    overflow-y     : scroll;
}

.iconDiv {
    display: inline-block;
    width  : 10%;
}

.iconDiv>svg {
    width : 24px;
    height: 24px;
}

.text {
    width     : 90%;
    text-align: center;
}

.choiceWrapper {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    padding        : 9px 12px;
    width          : 296px;
    margin         : 10px 0px;
    height         : 44px;
    border         : 1px solid rgba(22, 24, 35, .12);
    font-size      : 15px;
    font-weight    : 600;
}

.choiceWrapper:hover {
    cursor: pointer;
}

.LoginPagePartTwo {
    margin         : 0 auto;
    margin-top     : 32px;
    align-self     : center;
    align-items    : center;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    width          : 315px;
    overflow-y     : auto;
    height         : auto;
}

/* LOGIN FORM */
.loginFormContainer {
    margin: 0 auto;
    width : 450px;
    height: 300px;
}

.loginFormBtn {
    width     : 450px;
    background: #fe2c55;
    border    : none;
    height    : 40px;
}

.loginFormContainer>form input {
    height: 35px;
}

.loginFormContainer>div {
    width     : 100%;
    text-align: left;
}

.loginFormBtn>span {
    font-weight: bolder;

}

.loginFormBtn:hover {
    background: #fe2c55;
}

.forgotPass {
    font-size: 12px;
    color    : grey;
    float    : left;
}

.backArrow {
    float      : left;
    margin-left: 10px;
}


/* REG FORM */
.RegForm {
    margin-top: 200px;
}