.span {
    margin-top: 5px;
    margin-right: 6px;
    color: rgba(22, 24, 35, 0.5);
    font-size: 12px;
    display: inline-block;
}
.span:hover{
    text-decoration: underline;
    color: rgba(22, 24, 35, 0.5);
}
.containerSpan {
    width: 224px;
    margin-bottom: 8px;
    text-size-adjust: 100%;
    display: flex;
    flex-wrap: wrap;
}