.button {
    box-sizing: border-box;
    width: 224px;
    height: 68px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 16px;
    border: none;
    background-color: white;
    display: flex;
}
.button > h2 {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    color: #161823;
    margin-left: 15px;
    margin-bottom: 0;
}
.button:hover {
    background-color: rgba(211, 211, 211, 0.15);
}