.center {
  text-align: center;
  color:red;
  text-shadow: 1px 1px black;
 }

 /* HEADER STYLES */
 .header{
   margin-top: 5px;
   
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   border-bottom:1px solid rgba(34,90,89,0.2);
   padding: 8px; 
 }
.header form{
  background-color:rgba(22,24,35,0.06);
  align-items: center;
  border-radius: 25px;
  display: flex;
  padding: 8px;
}
/* HEADER FORM INPUT */
.header input{  
  border: none;
  background-color: #f2f2f2;
  outline: none;
 width: 292px;
 line-height: 22px;
 font-size: 16px;  
 caret-color: #fe2c55;
 
} 
.header form>button{
  border: none;
  outline: none;
  background: transparent;
  font-weight: 300;
  
}
.header form>button>svg{
  width: 24px;
  height: 24px;
  font-weight: 300;
  fill: rgba(22, 24, 35, 0.34)
}
/* HEADER RIGHT MENU CONTAINER*/
#headerRightWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
}
/* LOGIN */
#loginBtn{
  font-family: "proxima-semibold",PingFangSC,sans-serif;
  width: 84px;  
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #fe2c55;
  font-family: "proxima-semibold",PingFangSC,sans-serif;
  font-weight: 600;
  min-width: 100px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  color: white;
  border: none;
  border-color: white;
  outline: none;
  font-weight: 600;
}
/* DOTS MENU */
 #dotsMenu{
  border: none;
  background: transparent;
  outline: none;
 }
 #dotsMenu:hover{
   cursor: pointer;
 }
 #dotsMenu>svg{
  width: 24px;
  height: 24px;
 }
 /* UPLOAD BUTTON */
 #upload{
   background: transparent;
   border:none;
   outline: none;
 }
 #upload>span{
   line-height: 22px;
  font-size: 16px;
  font-weight: 600;
 }
 #upload>span:hover{
   cursor: pointer;
   text-decoration: underline;
 }
 button:hover{
   cursor: pointer;
 }