/* Layout css */
.site-layout-background {
  background: #fff;
}

.ant-layout{
 background-color: #fff;
}

.header {
  background: #fff;
  margin-bottom: 10px;
}

.contentContainer {
  padding: 24;
  margin: 0;
  min-height: 280;
}


.siderConteiner {
  max-height: 90vh;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  margin-left: 100px;
  padding-top: 26px;
  margin-right: 20px;
  scrollbar-face-color: red;

}
/*sidbar scroll*/
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: white; 
}
::-webkit-scrollbar-thumb {
  background: rgba(211, 211, 211, 0.15);
}

.siderWrapper{
  border-right: 0;
  height: 100%;
}
.center {
  text-align: center;
  color:red;
  text-shadow: 1px 1px black;
 }

 /* HEADER STYLES */
 .header{
   margin-top: 5px;
   
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   border-bottom:1px solid rgba(34,90,89,0.2);
   padding: 8px; 
 }
.header form{
  background-color:rgba(22,24,35,0.06);
  align-items: center;
  border-radius: 25px;
  display: flex;
  padding: 8px;
}
/* HEADER FORM INPUT */
.header input{  
  border: none;
  background-color: #f2f2f2;
  outline: none;
 width: 292px;
 line-height: 22px;
 font-size: 16px;  
 caret-color: #fe2c55;
 
} 
.header form>button{
  border: none;
  outline: none;
  background: transparent;
  font-weight: 300;
  
}
.header form>button>svg{
  width: 24px;
  height: 24px;
  font-weight: 300;
  fill: rgba(22, 24, 35, 0.34)
}
/* HEADER RIGHT MENU CONTAINER*/
#headerRightWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
}
/* LOGIN */
#loginBtn{
  font-family: "proxima-semibold",PingFangSC,sans-serif;
  width: 84px;  
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #fe2c55;
  font-family: "proxima-semibold",PingFangSC,sans-serif;
  font-weight: 600;
  min-width: 100px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 4px;
  color: white;
  border: none;
  border-color: white;
  outline: none;
  font-weight: 600;
}
/* DOTS MENU */
 #dotsMenu{
  border: none;
  background: transparent;
  outline: none;
 }
 #dotsMenu:hover{
   cursor: pointer;
 }
 #dotsMenu>svg{
  width: 24px;
  height: 24px;
 }
 /* UPLOAD BUTTON */
 #upload{
   background: transparent;
   border:none;
   outline: none;
 }
 #upload>span{
   line-height: 22px;
  font-size: 16px;
  font-weight: 600;
 }
 #upload>span:hover{
   cursor: pointer;
   text-decoration: underline;
 }
 button:hover{
   cursor: pointer;
 }

 /* Style card */
 .section {
  display: flex;
  flex-direction: row;
  margin: 0;
}

 .card {
  position: relative;
  border-bottom: 1px solid rgb(227,227,228);
  width: 860px;
  height: 580px;
}
.break {
  height: 10px;
}

.user-avatar {
  width: 56px;
  height: 56px;
  border-radius: 25px;
  margin-right: 15px;
}

.user-info {
  display: flex;
  flex-direction: row;
  width: 415px;
}

.social-tag {
  margin: 0 20px 0 5px;
}
.share{
   font-size: 25px;
}
.video {
  width:100%;
  height:100%;
  width: 260px;
  height: 450px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.15);
  margin-left: 70px;
}


.username {
  margin-left: 10px;
  margin-right: 10px;
}
.bold {
  font-weight: 600;
}

.socials {
  margin-left: 80px;
}

.follow-button {
  border: 1px solid #fe2c55;
  border-radius: 4px;
  width: 89px;
  height: 30px;
  color: #fe2c55;
  font-weight: 600;
  padding: 2px 0 3px;
  text-align: center;
  font-size: 14px;
  background-color: white;
}

.icons {
  font-size: 21px;
  height: 24px;
  width: 24px;
}

.icons-conteiner {
    position: absolute;
    top:285px;
    bottom: 0px;
    left:265px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.icon-wrapper{
text-align: center;
position: relative;
font-size: 13px;
background-color: rgba(22, 24, 35, 0.06);
margin-left: 0px;
padding: 12px;
padding-right: 16px;
border-radius: 100%;
background-position: center center !important;
margin-top: 8px;
margin-right: 50px;
}

.icon-wrapper:hover{
  cursor: pointer;
  background-color:rgba(0,0,0,0.15);
  border-radius: 100%;
}
.card-button-wrapper{
  margin-left: 175px;
  padding-top: 7px;
}

