/* Layout css */
.site-layout-background {
  background: #fff;
}

.ant-layout{
 background-color: #fff;
}

.header {
  background: #fff;
  margin-bottom: 10px;
}

.contentContainer {
  padding: 24;
  margin: 0;
  min-height: 280;
}

.siderWrapper{
  border-right: 0;
  height: 100%;
}
.siderPosition{
  position: fixed;
}
.center {
  text-align: center;
  color:red;
  text-shadow: 1px 1px black;
 }

 

 /* Style card */
 .section {
  display: flex;
  flex-direction: row;
  margin: 0;
}

 .card {
  position: relative;
  border-bottom: 1px solid rgb(227,227,228);
  width: 860px;
  height: 580px;
}
.break {
  height: 10px;
}

.user-avatar {
  width: 56px;
  height: 56px;
  border-radius: 25px;
  margin-right: 15px;
}

.user-info {
  display: flex;
  flex-direction: row;
  width: 415px;
}

.social-tag {
  margin: 0 20px 0 5px;
}
.share{
   font-size: 25px;
}
.video {
  width:100%;
  height:100%;
  width: 260px;
  height: 450px;
  border-radius: 4px;
  background-color: rgba(0,0,0,0.15);
  margin-left: 70px;
}


.username {
  margin-left: 10px;
  margin-right: 10px;
}
.bold {
  font-weight: 600;
}

.socials {
  margin-left: 80px;
}

.follow-button {
  border: 1px solid #fe2c55;
  border-radius: 4px;
  width: 89px;
  height: 30px;
  color: #fe2c55;
  font-weight: 600;
  padding: 2px 0 3px;
  text-align: center;
  font-size: 14px;
  background-color: white;
}

.icons {
  font-size: 21px;
  height: 24px;
  width: 24px;
}

.icons-conteiner {
    position: absolute;
    top:285px;
    bottom: 0px;
    left:265px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.icon-wrapper{
text-align: center;
position: relative;
font-size: 13px;
background-color: rgba(22, 24, 35, 0.06);
margin-left: 0px;
padding: 12px;
padding-right: 16px;
border-radius: 100%;
background-position: center center !important;
margin-top: 8px;
margin-right: 50px;
}

.icon-wrapper:hover{
  cursor: pointer;
  background-color:rgba(0,0,0,0.15);
  border-radius: 100%;
}
.card-button-wrapper{
  margin-left: 175px;
  padding-top: 7px;
}




